* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", fangsong;
}

@font-face {
  font-family: "LXGW WenKai GB Regular";
  src: url("/public/LXGWWenKaiGB-Regular.woff");
}

.el-tabs__content {
  padding: 0 !important;
  width: 100% !important;
}


.caption a {
  color: #409EFF;
  text-decoration-line: none;
  font-size: 14px;
  font-family: "LXGW WenKai GB Regular", fangsong;
}

.caption a:hover {
  color:  #3375b9;
}
.caption a:active{
  color: #409EFF;
}
